@media only screen and (max-width: 900px) {
    .mission_vission {
        flex-direction: column;
    }

    .flex_description {
        width: 100%;
    }

    .inner_small_container {
        background: #21265fcc;
        padding: 60px 50px;
    }

    .services h1 {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        margin-top: 80px;
    }

}

@media only screen and (max-width: 992px) {
    .our_partnar_title span {
        margin: 0px 5px;
    }

    .our_partnar_title h1 {
        font-size: 30px;
    }

    .our_partnar_title {
        padding: 50px 0px;
    }
}

@media only screen and (max-width: 667px) {

    .inner_small_container {
        background: #21265fcc;
        padding: 30px 20px;
    }

    .logo img {
        height: 250px;
    }

    #first_section {
        height: 80vh;
    }

    p.inner_des {
        width: 100%;
    }
    #second_section {
        background:#13263C;
     }
     #third_section{
         background: rgb(0, 0, 0);
        padding: 50px 0px;
     }
     hr{
         border-bottom:2px solid rgb(255, 255, 255);
     }
     .services h1 {
        margin-top: 0px;
      }
}